
.section-padding {
    padding: 80px 0;
}

.hero {
    padding: 120px 0;
    background-color: #212529; 
    color: white;
}


.card, .hero img, .btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover, .hero img:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}


.btn:hover {
    transform: translateY(-3px);
}


html {
    scroll-behavior: smooth;
}


.bi {
    transition: color 0.3s ease;
}

.card:hover .bi {
    color: #0d6efd; 
}
